*{
    text-align: center;
}
h3{
    color: blue;
}
.submit{ margin-top: 10px;
    color: #0707f3;
    top: 10px;
    left: 5px;
}

.box1{
    margin-top: 10px;
    top: 10px;
    left: 5px;
}
.box2{
    margin-top: 10px;
    top: 10px;
    left: 5px;
}